:root {
	--lyrics-padding-vertical:	16px;
	--lyrics-padding-inline:	64px;
	--lyrics-margin: 16px;
	--button-lang-size:	17px;
	--lyrics-transition: 0.3s;
}
@media (pointer:none), (pointer:coarse) {
	:root {
		--lyrics-margin: 32px;
		--button-lang-size: 48px;
		--lyrics-transition: 0s;
	}
	lyrics {
		font-size: xxx-large;
	}
}

lyrics {
	text-align: center;
	display: inline-block;
	border: solid 1px;
	border-color: #E5E5E5;
	border-width: thin;
	border-radius: 25px;
	box-shadow: 2px 2px 5px gray;
	padding:		var(--lyrics-padding-vertical);
	padding-inline: 0px;
	margin-bottom: var(--lyrics-margin);
	transition: var(--lyrics-transition);
	width:  fit-content;
}

button.language {
	text-align: center;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	color: #529cde;
	font-size: var(--button-lang-size);
	padding-inline:	calc( var(--lyrics-padding-vertical) * 2 );
	font-weight: bold;
	width:fit-content;
}

lyrics p {
	color: black;
	font-family: Trebuchet MS, helvetica, sans-serif;
	text-align: center;
	transition: var(--lyrics-transition);
	display: block;
	font-size: 0;
}